*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
    padding:3%;
    color: #1E3163;
}
h3{
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
    color: #E05D5D;
}

.mission p{
    text-align: center;
    font-weight: bold;
}
img{
    width: 50%;
    border-radius: 50%;
}
.row{
    justify-content: space-between;
}
.container .card{
    height: 100%;
    border: none;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5),
                5px 5px 5px rgba(0,0,0,0.05),
                -5px -5px 5px rgba(255,255,255,0.5);
}

.container .card .box{
    margin: 5%;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
}

.container .card .box .content{
    padding: 5%;
    font-size: 12px;
}

.container .card .box .content h6{
    padding-top: 5%;
    font-weight: bold;
    color: #7F7C82;
}

.container .card .box .content h4{
    color: #E05D5D;
    font-weight: bold;
    font-family: 'Balsamiq Sans', cursive;
}
.smedia{
    margin: 5%;
    text-align: center;
}
.smedia i{
    cursor: pointer;
    font-size: 1.2rem;
    padding:3%;
}
.fa-facebook:hover{
    border-radius: 40%;
    background:#3b5998;
    color: white;
}
.fa-github:hover{
    border-radius: 40%;
    background:#171515;
    color: white;
}
.fa-instagram:hover{
    border-radius: 40%;
    background:#b62a8d;
    color: white;
}
.fa-linkedin:hover{
    border-radius: 40%;
    background:#0E76A8;
    color: white;
}

@media(max-width: 425px){
    .row{
        display: inline;
        text-align: center;  
    }
    .card{
        width: 100%;
        padding: 2% 0;
        margin: 5% 0;
    }
}
@media(min-width: 768px) and (max-width: 1024px){
    .row{
        justify-content: space-between;
    }
    .card{
        width: 30%;
    }
}